/*reset css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fin reset css*/

* {
    scroll-behavior: smooth;
}
header, main, footer{
    border-style: solid;
    border-width: 2px;
    color: cadetblue;
    padding: 5px;
}

div#container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 6fr 1fr;
}

header > nav{
    display: flex;
    justify-content:space-between;
    height: 100%;
    align-items: center;
}

header > nav > ul.example{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

header > nav >i.fa-bars{
    display: none;
}

/*query responsive*/
@media screen and (max-width: 768px){
    header > nav > ul.example{
        display: none;
    }
    header > nav > i.fa-bars{
        display: block;
    }
    header > nav.open{
        position: fixed;
        width: 100%;
        flex-direction: column;
        background: lightgray;
        top: 0;
        left: 0;
    }
    header > nav.open > ul.example{
        flex-direction: column;
        justify-content: space-around;
        display: flex;
    }

}

section{
    height: 400px;
    padding-top: 8vh;
}

header{
    position:fixed;
    width: 100%;
    height: 5vh;
    background-color:white;    
}